*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}
body{
    padding: 0;
    border: 0;
    background: linear-gradient(to right, rgb(101, 1, 110), rgb(253, 10, 83))
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 190, 228,.75);
    border: rgba(168, 0, 98,.75) 2px ridge;
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255,.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    color:rgba(255,255,255,.9);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color:rgba(255,255,255,.8);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}
h3{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    color: rgba(255,255,255,.8);
}